* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter
    }

body {

    display: flex;
    flex-direction: column;
}

/*HEADER SECTION*/

header {
    position: sticky; top: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    font-size: 12px;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

ul li a {
    text-decoration: 0;
    color:white;
}

.logo {
    display: flex;
    height: 20px;
}

/*MAIN SECTION*/

main {
    display: flex;
    height: calc(100vh - 30px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-img {
    height: auto;
    width: 500px;
    padding-left: 50px;
}

.content-left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

main h1 {
    font-size: 54px;
    color: darkgray;
    font-weight: 50;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;

}
main h2 {
    font-style: italic;
    color: darkgray;
    font-weight: 50;
    margin-bottom: 25px;

}

main p {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    color: darkgray;
    line-height: 25px;
}
/*ABOUT SECTION*/

.about-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: darkgray;
    height: calc(100vh - 30px);
}

.about-left {
    max-width: 500px;
}

.about-container h1 {
    font-size: 54px;
    font-weight: 50;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;
}
.about-container h2 {
    font-style: italic;
    font-weight: 50;
    margin-bottom: 25px;
}

.about-container p {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    line-height: 25px;
}

/*PORTFOLIO SECTION*/

.portfolio-container {
    display: flex;
    height: calc(100vh - 30px);
    align-items: center;
    justify-content: center;
    color: darkgray;
    flex-wrap: wrap-reverse;
}

.portfolio-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding-right: 50px;
    gap: 20px;
}

.portfolio-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
    height: 420px;
}

.portfolio-right h1 {
    font-size: 54px;
    font-weight: 50;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;
}
.portfolio-right h2 {
    font-style: italic;
    font-weight: 50;
    margin-bottom: 25px;

}

.portfolio-right p {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    line-height: 25px;
}

#languages-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 0 auto;
    gap: 20px;
}

.languages {
    height: 70px;
    width: auto;
}

.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-preview {
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

/*FOOTER SECTION*/

footer {
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-top: 40px;
    width: 600px;
    height: 100%;

}

.quote {
    width: 420px;
    height: 100%;
}

.quote p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    display: flex;
    width: 500px;
    height: 100%;
 
}

.footer-right p {
    line-height: 30px;
    letter-spacing: 1px;
}
.footer-right h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-logos {
    height: 55px;
}

.linkplates {
    display: flex;
    gap: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}
